# Django 
Django>=4.2

# django-redshift-backend
django-redshift-backend==5.0.0

# psycopg2-binary
psycopg2-binary

# psycopg
psycopg

# django-cors-headers
django-cors-headers

# flask-cors
flask-cors

# django-environ
django-environ
