{% extends 'base.html' %}
{% block title %}Superset 대시보드{% endblock %}
{% block style %}
    <style>
        /* iframe 스타일 조정 */
        .superset-dashboard {
            width: 100%;
            height: 800px;
            border: none;
        }
    </style>
{% endblock %}
{% block content %}
<iframe title="사용자 행동 기반2" width="100%" height="750" src="https://app.powerbi.com/view?r=eyJrIjoiNDY0NWQxNTgtMWYyMy00M2VhLTg5NDctZmY2NmZlMjIwYWE2IiwidCI6ImU3YzNkNjYzLTVmODMtNDg4Ny1iZDZhLTE5NTViZGVjOTZkNyJ9&pageName=7b2cd83f53c2ae05fa45" frameborder="0" allowFullScreen="true"></iframe>    <script>
    </script>
{% endblock %}  